.root {
  @apply text-2xl md:text-4xl inline-block pr-8 md:pr-11 relative font-bold;
  position: relative;
  outline: 4px solid transparent;
  outline-offset: 2px;
  top: 12px;
  @apply py-2;
}

.root:before {
  content: '';
  border-color: currentColor;
  border-bottom-width: 2px;
  height: 0;
  position: absolute;
  bottom: 0%;
  width: 100%;
  transition-property: width;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.3s;
  transition-duration: 0.5s;
}

.root:hover:before {
  width: 0;
}

.icon {
  @apply absolute  top-3 md:top-3 right-0;
}

@screen md {
  .icon svg {
    @apply w-9 h-9;
  }
}
