/* ./styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply text-uuxblack-900;
  background-color: #fbfbfb;
}

.wrapper {
  @apply xl:container xl:px-8 px-4 md:px-10;
}

@media screen and (min-width: 768px) {
  .stage {
    height: 614px;
  }
}

/* Typography */

.display-heading {
  @apply leading-normal text-xl sm:text-2xl md:text-4xl md:leading-snug font-bold text-uuxblack-900;
}

h2 {
  @apply text-2xl md:text-3xl font-bold;
}

.copy {
  @apply text-lg md:text-xl;
}

.content-block {
  @apply w-full lg:w-9/12;
}

.anchor-link {
  position: relative;
  outline: 4px solid transparent;
  outline-offset: 2px;
  top: 12px;
  @apply py-2;
}

.anchor-link:before {
  content: '';
  border-color: currentColor;
  border-bottom-width: 2px;
  height: 0;
  position: absolute;
  bottom: 0%;
  width: 100%;
  transition-property: width;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.3s;
  transition-duration: 0.5s;
}
.anchor-link:hover:before {
  width: 0;
}
